/* DANICA, CHURCHILL  */
.container-profile {
    font-family: 'Open Sans', sans-serif;
    width:100%;
    margin: auto;
    padding-left: 250px;
}

.sidebar {
    background-color: #285baa;  
    grid-area: sidebar;
    padding-top: 30px;
    color: #ffffff;
}

.section {
    background-color: #f2f2f2;
    grid-area: section; 
    padding: 30px 50px;
    color: #000000;
    font-size: 15px ;
    line-height: 50px;
}

#box { 
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 50px 50px;
}

a{
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #ffffff;
}

h2{
    margin-left: 40px;
}

.label {
    font-weight: bold;
    font-size: 20px;
    width:20%;
}
.input {
    color: #276471;
    font-size: 20px;
    width: 30%;
}

table {
    width:50%;
  }
 



